.item-details {
  background: #000;
  border: 3px solid #85432a;
  margin-top: 10px;
}

.default-margin-bottom {
  margin-bottom: 0.2rem;
}

.hr-margin {
  margin: 0.5rem;
}

.header-text {
  color: #af6025;
  font-size: 20px;
}

.mod-text {
  color: #7788ff;
}

.flavour-text {
  color: #af6025;
  font-style: italic;
}

.title-header {
  background: #21140d;
  padding-top: 5px;
  border: 1px solid #643017;
}

.mod-text, .flavour-text {
  font-size: 15px;
}

.implicit-border {
  padding-top: 0.2rem;
}

.line-break-item { 
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(133, 67, 42, 0),
    rgba(133, 67, 42, 5),
    rgba(133, 67, 42, 0)
  );
}

.divination-card-divination-card {
  color: #b1fcf8;
}

.divination-card-whiteitem {
  color: #c8c8c2;
}

.divination-card-uniqueitem {
  color: #aa6025;
}

.divination-card-corrupted {
  color: #d20007;
}

.divination-card-currencyitem {
  color: #aa9e64;
}

.divination-card-default {
  color: #6e7f7f;
}
