/*
 * Those without names are generic unique items.
 */
.item-details {
  background: #000;
  border: 3px solid #85432a;
  margin-top: 10px;
}

.default-margin-bottom {
  margin-bottom: 0.2rem;
}

.hr-margin {
  margin: 0.5rem;
}

.header-text {
  color: #af6025;
  font-size: 20px;
}

.mod-text {
  color: #7788ff;
}

.flavour-text {
  color: #af6025;
  font-style: italic;
}

.title-header {
  background: #21140d;
  padding-top: 5px;
  border: 1px solid #643017;
}

.mod-text, .flavour-text {
  font-size: 15px;
}

.implicit-border {
  padding-top: 0.2rem;
}

.line-break-item { 
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(133, 67, 42, 0),
    rgba(133, 67, 42, 5),
    rgba(133, 67, 42, 0)
  );
}

.divination-card-divination-card {
  color: #b1fcf8;
}

.divination-card-prophecy {
  color: #b048f1;
}

.divination-card-whiteitem {
  color: #c8c8c2;
}

.divination-card-uniqueitem {
  color: #aa6025;
}

.divination-card-corrupted {
  color: #d20007;
}

.divination-card-currencyitem {
  color: #aa9e64;
}

.divination-card-default {
  color: #6e7f7f;
}

.divination-card-flavour-text-gap, .divination-card-explicit {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
}

.divination-item-details {
  background: #000;
  border: 3px solid #a3968a;
  margin-top: 10px;
}

.divination-title-header {
  background: #a3968a;
  padding-top: 5px;
  border: 1px solid #030301;
}

.divination-header-text {
  color: #030301;
  font-size: 20px;
}

.essence-implicit {
  margin-bottom: 0;
}

.implicit-key {
  color: #7f7f7f;
}

.implicit-value {
  color: #ffffff;
}

.essence-header-text {
  color: #aa9e82;
  font-size: 20px; }

.essence-title-header {
  background: #302a1a;
  padding-top: 5px;
  border: 1px solid #aa9e82;
}

.essence-item-details {
  background: #000;
  border: 3px solid #877248;
  margin-top: 10px;
}

.prophecy-text {
  font-size: 15px;
  color: #ffffff;
}

.item-mod-text {
  padding-left: 10px;
  padding-right: 10px;
}

.prophecy-header-text {
  color: #b54bff;
  font-size: 20px;
}

.prophecy-title-header {
  background: #301b46;
  padding-top: 5px;
  border: 1px solid ##721393;
}

.prophecy-item-details {
  background: #000;
  border: 3px solid #b54bff;
  margin-top: 10px;
}
